In [21]:
from pandas_datareader import data
from bokeh.plotting import figure, show, output_file
import datetime

In [22]:
#to check the source doc
data.DataReader?

In [23]:
start=datetime.datetime(2016,3,1)
end=datetime.datetime(2016,3,10)

df=data.DataReader(name="GOOG", data_source="yahoo", start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976
2016-03-03,719.450012,706.020020,718.679993,712.419983,1958000,712.419983
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007

In [24]:
df.index

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-07', '2016-03-08', '2016-03-09', '2016-03-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [25]:
df.index[df.Close > df.Open]

DatetimeIndex(['2016-03-01', '2016-03-08', '2016-03-09', '2016-03-10'], dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
df[df.Close > df.Open]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007

In [41]:
start=datetime.datetime(2015,11,1)
end=datetime.datetime(2016,3,10)

df=data.DataReader(name="GOOG", data_source="yahoo", start=start, end=end)


def inc_dec(c, o):
        if c > o:
            value="Increase"
        elif c < o:
            value="Decrease"
        else:
            value="Equal"
        return value

df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close,df.Open)]
df["Middle"]=(df.Open+df.Close)/2
df["Height"]=abs(df.Close-df.Open)

p=figure(x_axis_type='datetime', width=1500, height=600, sizing_mode="scale_width")
p.title.text="Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Black") # first layer, written first to hide sticks behind the bars

p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"],
       hours_12, df.Height[df.Status=="Increase"],fill_color="#CCFFFF",line_color="black") # second layer

p.rect(df.index[df.Status=="Decrease"],df.Middle[df.Status=="Decrease"],
       hours_12, df.Height[df.Status=="Decrease"],fill_color="#FF3333",line_color="black") # third layer

output_file("Candlestick.html")

show(p)